@charset "UTF-8";
body{
    background-color: burlywood;
}

/* ▼表全体の装飾 */
table {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; /* セルの境界線を共有 */
}
.Text1{
    text-align: center;
}
/* ▼各セルの装飾 */
td {
    border: 1px solid black;  /* 表の罫線(=セルの枠線) */
    padding: 0.5em 1em;       /* セル内側の余白量 */
}
a{
    color: black;
}