@charset "UTF-8";
body {
    background-color:#c8e6c9;
}
.Text1{
    color:#2e2e2e;
}
table {

    border-collapse: collapse; /* セルの境界線を共有 */
}
/* ▼各セルの装飾 */
td {
    border: 1px solid #ccc; /* 表の罫線(=セルの枠線) */
    background-color: #fdfdfd;
    padding: 0.5em 1em;       /* セル内側の余白量 */
}